<%- include('../layouts/layout-start', {title: title}) %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <a href="/books/">Смотреть всю библиотеку</a>
    </div>
</div>

<%- include('../layouts/layout-end') %>