<h1>Добро пожаловать в библиотеку!</h1>

<p>Вы можете приступить к <a href="/books">просмотру книг</a></p>

<p>Или <a href="/user">войти как библиотекарь</a>, чтобы иметь возможность добавлять и удалять книги</p>

<p>А еще тут есть секретное API, на случай появления микросервиса фронтенда</p>
