<form action="/user/signup" method="post">
  <div>
    <label>Логин:</label>
    <input type="text" name="username" /><br />
  </div>
  <div>
    <label>Пароль:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <label>Подтвердите пароль:</label>
    <input type="password" name="repeatPassword" />
  </div>
  <div>
    <input type="submit" value="Войти" />
  </div>
</form>

<p>Вернуться на <a href="/user">главную</a>.</p>