<% if (!user) { %>
  <p>Главная</p> 
  <p>Пожалуйста, <a href="/user/login"> авторизуйтесь</a>, если уже зарегистрированы </p>
  <p>или <a href="/user/signup">зарегистрируйтесь</a></p>
<% } else { %>
  <p>Привет, <%= user.username %>. </p>
  <p>Перейти в <a href="/user/profile">профиль</a>.</p>
<% } %>

<p>Вернуться на <a href="/">главный экран</a></p>